/*
*= require_tree .
*= require_self
*/

.title {
  color: white;
  font-size: 10px;
}

.image {
  border-radius: 50%;
  img {
    border-radius: 50%;
  }
}
.notification:not(:last-child) {
  margin-bottom: 0;
}


footer p {
  margin-top: 10%;
  margin-left: 30%;
  margin-right: 30%;
  margin-bottom: 0;

  width: 100%;
}
